
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  z-index:1;
  font-size:10px;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  color:#111;
  text-decoration: none;
  background-color: #A9A9A9;
}
